langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
langchain-groq
validators
streamlit
wikipedia-api
groq
numexpr 
requests
SQLAlchemy
mysql-connector-python
duckduckgo-search
validators==0.28.1
youtube_transcript_api
pytube
unstructured
yt-dlp